.contact-detail-card{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 40rem;
    justify-content: center;
    background-color: #0f0c21;
    border-radius: 0.65rem;
    border: 1.5px solid #4233e7;
    padding: 1.5rem;
    margin-bottom: 2rem;
}
.contact-detail-card .icon{
    width: 4rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    background: #3d3072;
    margin-bottom: 2rem;
}
.icon img{
    width: 1.8rem;
    height:auto;
    object-fit: contain;

}
@media(max-width: 768px) {
    .contact-detail-card{
        width: 100%;
        padding: 1rem;
        margin-bottom: 1rem;

    }
    .contact-detail-card .icon{
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
        
    }
    .icon img{
        width: 1.5rem;
        height: auto;
        object-fit: contain;
        
    }
    
@media(max-width: 480px) {
    .contact-detail-card{
        width: 100%;
        padding: 1rem;
    }
    .contact-detail-card .icon{
        width: 3rem;
        height: 3rem;
    }
    .icon img{
        width: 1.5rem;
    }
}
}