.contact-container{
    margin: 4rem;
    position: absolute;


}
.contact-container h5{
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.contact-content{
    display: flex;
    gap: 3rem;
}

@media (max-width:768px){
    .contact-content{
        flex-direction: column;
    }
    .contact-container h5{
        font-size: 1.2rem;
        margin-bottom: 0rem;
    }
}